.FC201Container {
  background: #ffffff;
  width: 600px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin: 10px 0;
}
.FC201Header {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.FC201ProfileImageWrapper {
  width: 35px;
  border-radius: 40px;
}
.FC201ProfileImage {
  max-width: 100%;
  aspect-ratio: 1;
  border-radius: 40px;
}
.FC201ProfileUsername {
  font-weight: 600;
}
.FC201ImageWrapper {
  width: 600px;
}
.FC201CardImage {
  max-width: 100%;
  height: auto;
}
.FC201Footer {
  padding: 0 16px;
}
.FC201IconsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 20px;
}
.FC201IconsWrapperLeft {
  display: flex;
  column-gap: 8px;
  font-size: 23px;
}
.FC201LikesWrapper {
  font-weight: 600;
  padding: 5px 0;
}
.FC201CaptionWrapper {
  display: flex;
  column-gap: 10px;
  padding: 5px 0 16px;
}
