.em201Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  column-gap: 10px;
  margin-top: 15px;
}
.em201ErrorImage {
  width: 50px;
}
